nav {
  position: sticky;
  top: 0;
  background-color: $darkColor;
  form {
    padding: 2px;
    border-radius: 15px !important;
    input {
      border: 1px solid transparent;
      outline: none;
      padding: 10px;
      background-color: transparent;
    }
  }
}
